
.contact-container {
  clear: both;
  overflow: hidden;
}

.contact-container > *,
.contact-column {
  float: left;
  overflow: hidden;
  width: 33%;
  padding: 0.3em;

  h1, h2, h3, h4, h5, h6 {
    min-height: 5em;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    width: 34%;
  }
}