
.contact-container {
  clear: both;
  overflow: hidden;
}

.contact-container > *,
.contact-column {
  float: left;
  overflow: hidden;
  width: 33%;
  padding: 0.3em;

  .company-container {
    min-height: 8em;
    display: inline-block;

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }

    p {
      margin: 0;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
    width: 34%;
  }
}