/******************************************************************
Site Name:
Author:

Stylesheet: Header

We put all the styles needed to display the header in one place
******************************************************************/

@import "partials/variables";
@import "partials/typography";

/*********************
BLOCKS
*********************/

.logo-area {
  text-transform: uppercase;
  text-align: right;
  font-family: $kabel;
  font-size: 1em;
  line-height: 0.9em;
  cursor: pointer;

  .interaccount,
  .dahm,
  .contenda {
    font-size: 1.1em;
  }

  .department {
    border-bottom: 1px solid $black;

    &.last {
      border-bottom: 2px double $black;
    }
  }

  padding-bottom: 0.2em;
  border-bottom: 2px double $black;
}